.git*	export-ignore
.gitignore	export-ignore
.idea	export-ignore
.sass-cache	export-ignore
assets	export-ignore
bin	export-ignore
comments.json	export-ignore
composer.lock	export-ignore
tests	export-ignore
phpunit.xml	export-ignore
package-lock.json	export-ignore
package.*	export-ignore
sftp-config.json	export-ignore
